* {box-sizing: border-box;}
.container{
    border: 4px solid lightgray;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    border: 4px solid lightgray;
    width: 100px;
    height: 100px;
    margin-left: 24px;
}

.box-small {
    height: 50px;
    width: 50px;
    margin-right: 24px;
}

.box-wrapper {
    display: flex;
    align-items: center;
}